<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Moyasar_HyvaCheckout" setup_version="1.0.0">
        <sequence>
            <module name="Moyasar_Magento2"/>
            <module name="Hyva_Checkout"/>
        </sequence>
    </module>
</config>
